In [1]:
import pandas as pd

In [2]:
# Read the CSV file into a DataFrame
df = pd.read_csv('airline_passenger_satisfaction.csv')

df.head()

,Unnamed: 0,Gender,customer_type,age,type_of_travel,customer_class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,...,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         129880 non-null  int64
 1   Gender                             129880 non-null  object
 2   customer_type                      129880 non-null  object
 3   age                                129880 non-null  int64
 4   type_of_travel                     129880 non-null  object
 5   customer_class                     129880 non-null  object
 6   flight_distance                    129880 non-null  int64
 7   inflight_wifi_service              129880 non-null  int64
 8   departure_arrival_time_convenient  129880 non-null  int64
 9   ease_of_online_booking             129880 non-null  int64
 10  gate_location                      129880 non-null  int64
 11  food_and_drink                     129880 non-null  int64
 12  online_boarding                    129880 non-null  int64
 13  seat_comfort                       129880 non-null  int64
 14  inflight_entertainment             129880 non-null  int64
 15  onboard_service                    129880 non-null  int64
 16  leg_room_service                   129880 non-null  int64
 17  baggage_handling                   129880 non-null  int64
 18  checkin_service                    129880 non-null  int64
 19  inflight_service                   129880 non-null  int64
 20  cleanliness                        129880 non-null  int64
 21  departure_delay_in_minutes         129880 non-null  int64
 22  arrival_delay_in_minutes           129487 non-null  float64
 23  satisfaction                       129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [4]:
# Drop the `Unnamed: 0` column
df.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
# Drop null values in `arrival_delay_in_minutes`
df.dropna(subset = ['arrival_delay_in_minutes'], inplace=True)

In [6]:
# Convert `satisfaction` column to binary
df['satisfaction'] = df['satisfaction'].apply(lambda x: 1 if x == 'satisfied' else 0)

In [7]:
# Print the count of occurances of values in the `satisfaction` column
print("\nCount of values in satisfaction column: \n", df['satisfaction'].value_counts().to_markdown(numalign="left", stralign="left"))

Count of values in satisfaction column:
 | satisfaction   | count   |
|:---------------|:--------|
| 0              | 73225   |
| 1              | 56262   |